@font-face {
  font-family : 'bb-book-mono';
  src: url("./fonts/bb-book-mono.woff") format('woff'),
        url("./fonts/bb-book-mono.woff2") format("woff2"),
        url("./fonts/bb-book-mono.otf") format('otf'),
}

@font-face {
  font-family: 'ABCRepro-Regular';
  src:  url('./fonts/ABCRepro-Regular.woff2') format('woff2'),
        url('./fonts/ABCRepro-Regular.woff') format('woff');
}

/*
 * Always set the map height explicitly to define the size of the div element
 * that contains the map.
 */
/* #map {
  height: 10%;
  z-index: 3;
} */

/*
 * Optional: Makes the sample page fill the window.
 */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #000000;
  cursor:none;
}

#street-view {
  height: 100vh;
  width: 100vw;
  /* height: 100%; */
  z-index: 3;
}

#input {
  margin: 10px;
  z-index: 8 !important;
}

#map > div {
  background-color: #0f1015 !important; /* For browsers that do not support gradients */
  background-image: repeating-linear-gradient(180deg, #000000 0%, #000000 50%, #000000 50%, #000000 100%);
  /* background-image: repeating-linear-gradient(180deg, #1500ff 0%, #1500ff 50%, #0f1015 50%, #0f1015 100%); */
}

.mapsConsumerUiSceneInternalCoreScene__canvas{
  /* cursor: none; */
  cursor: crosshair;
}

.gm-iv-address {
  display: none;
}


/* The Modal (background) */
.eyeview {
    position: absolute; /* Stay in place */
    display: grid;
    z-index: 3; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    padding-top: 0px;
    pointer-events: none;
    overflow: auto; /* Enable scroll if needed */
}

.input-text{
  display: none;
  margin: auto;
  width: 100%;
  /* cursor: e-resize; */
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  font-family: 'ABCRepro-Regular', sans-serif;
  /* font-family: bb-book-mono, sans-serif; */
  font-size: 3em;
  color: #ffffff;
}


/* input[type=text] {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  line-height: 40px;
  margin-right: 0;
  min-width: 25%;
  z-index: 8;
}

input[type=button] {
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  height: 40px;
  cursor: pointer;
  margin-left: 5px;
  z-index: 8;
}
input[type=button]:hover {
  background: rgb(235, 235, 235);
}
input[type=button].button-primary {
  background-color: #1a73e8;
  color: white;
}
input[type=button].button-primary:hover {
  background-color: #1765cc;
}
input[type=button].button-secondary {
  background-color: white;
  color: #1a73e8;
}
input[type=button].button-secondary:hover {
  background-color: #d2e3fc;
} */

#response-container {
  display: none;
  /* background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  overflow: auto;
  max-height: 50%;
  max-width: 90%;
  background-color: rgba(255, 255, 255, 0.95);
  font-size: small; */
}

#instructions {
  display: none;
  /* background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  margin: 10px;
  padding: 0 0.5em;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
  padding: 1rem;
  font-size: medium; */
}

/* .gm-style > div > div {
  display: none;
} */
